<!-- Alexandre: Un seul H1 par page!!! -->
<div class="container-voucher" style="background-color: <%= voucher.brand.color %>">

  <div class="top-section">
    <%= image_tag voucher.brand.logo, class: voucher.brand.logo_horizontal?  ? 'logo-horizontal' : 'logo-vertical' %>
  </div>

  <div class="middle-section">
    <% if params[:display_confirmation_message] == "true"  %>
      <h1>Votre achat est confirmé !</h1>
    <% end %>
    <h2> - <%= voucher.pourcentage %> %</h2>
    <p class="card-info">Valeur en magasin : <%= voucher.value%> €</p>
    <p class="card-info">Type : <%= voucher.category %> </p>
    <p class="card-info">Expiration : <%= parse_date_fr(voucher.end_date)%></p>
  </div>

  <div class="bottom-section">
    <div id= "">
      <%=  image_tag "barcode.png", height: '65', width: '90%'   %>
      <div class="mt-2 mb-3">
        <span class="retour"> <%= link_to "Retour à mes annonces", profile_path  %> </span>
      </div>
    </div>
  </div>
</div>


