<div class="container">
  <div class="row py-4">

    <div class="col">
     <h2> statut : <small><span class="badge badge-primary"><%= @order.state %></span></small></h2>
     <br>
      <ul class="list-unstyled">
        <li><strong>Publié le :</strong> <%= parse_date_fr(@order.created_at.to_date) %></li>
        <li><strong>Bon :</strong> <%= @order.voucher.brand.name %> </li>
        <li><strong>Total :</strong> <%= humanized_money_with_symbol @order.amount %></li>
        </li>
      </ul>
      <br>
      <p>Votre achat été effectué !</strong></p>
      <br>
   <div class="selling-button">
    <%= link_to profile_path, class: "button button-large-height" do %>
    Retour à mes annonces
    <% end %>
  </div>

  </div>
</div>
