<div class="container-voucher" style="background-color: <%= @order.voucher.brand.color %>" >
  <div class =logo-mark>
    <img id="logo" src= <%= @order.voucher.brand.logo%> >
  </div>
      <h1>Votre achat a été effectué !</h1>
      <h1>Order #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
      <ul class="list-unstyled">
    <br>
    <br>
    <h2> - <%= @order.voucher.pourcentage%> %</h1>
    <h1> valeur en magasin : <%= @order.voucher.value%> €</h1>
    <h1> type : <%= @order.voucher.category %> </h1>
    <h1> expiration : <%= parse_date_fr(@order.voucher.end_date)%></h1>
    <br>
    <br>
    <div class = "barcode">
      <%=  image_tag "barcode.png", height: '65', width: '100%'   %>
    </div>
    <div class="footer">
      <span class = "retour"> <%= link_to "Retour à mes annonces", profile_path  %> </span>
    </div>
</div>
