<%= render 'shared/search_bar' %>

<div id="banner">
  <p>Revendez vos bons en un clin d'oeil</p>
</div>

<div class="selling-button">
  <%= link_to new_voucher_path, class: "button button-large-height" do %>
    Je vends un bon
  <% end %>
</div>

<div class="informations">
  <%= link_to "Comment ca marche?", new_voucher_path %>
</div>

<div id="carouselBestOffer" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div id="topdeals">
      <p>Meilleures Offres</p>
    </div>
      <% @vouchers_top.each_slice(mobile_device? ? 2 : 4).to_a.each_with_index do |vouchers, index| %>
      <div class="carousel-item <%= "active" if index == 0 %>">
        <div class="d-flex justify-content-around mx-4">
          <% vouchers.each do |voucher| %>
            <a class="carousel-control-prev" href="#carouselBestOffer" role="button" data-slide="prev">
              <i class="far fa-arrow-alt-circle-left mr-4" style="color: grey"></i>
            </a>
              <%= render 'vouchers/card', voucher: voucher %>
            <a class="carousel-control-next" href="#carouselBestOffer" role="button" data-slide="next">
              <i class="far fa-arrow-alt-circle-right ml-4" style="color: grey"></i>
            </a>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="carouselTopBrand" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div id="topbrands">
      <p>Par marque</p>
    </div>
      <% @vouchers_brand.each_slice(mobile_device? ? 2 : 4).to_a.each_with_index do |vouchers, index| %>
      <div class="carousel-item <%= "active" if index == 0 %>">
        <div class="d-flex justify-content-around mx-4">
          <% vouchers.each do |voucher| %>
            <a class="carousel-control-prev" href="#carouselTopBrand" role="button" data-slide="prev">
              <i class="far fa-arrow-alt-circle-left mr-4" style="color: grey"></i>
            </a>
            <%= render 'vouchers/card', voucher: voucher %>
            <a class="carousel-control-next" href="#carouselTopBrand" role="button" data-slide="next">
              <i class="far fa-arrow-alt-circle-right ml-4" style="color: grey"></i>
            </a>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
