<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="container-fluid">
  <div>
<%= render 'shared/search_form' %>
</div>

  <div class="row">
    <div class="col-1">

      chevron
    </div>
    <div class="col-5">
      <%= render "vouchers/card" %>
      <%= render "vouchers/card" %>

    </div>
    <div class="col-5">
      <%= render "vouchers/card" %>
      <%= render "vouchers/card" %>

    </div>
    <div class="col-1">
      chevron
    </div>
  </div>
</div>


