
<div class="container-fluid">
  <div class="d-flex flex-column align-items-center">
    <%= render "shared/stepper", step: @step %>
  </div>
</div>

  <%
  case @step
  when 1 %>

    <div class="container-fluid">
      <div class="d-flex flex-column align-items-center">
        <h3 class="title">Choisissez une catégorie</h3>

        <div class="container-buttons-list text-center">
          <%= link_to new_voucher_path(category: 'Carte Cadeau', step: 2), class:"button button-small-height button-margin-top"  do %>
          Carte Cadeau
          <% end %>

          <%= link_to new_voucher_path(category: 'Chèque Cadeau', step: 2), class:"button button-small-height button-margin-top"  do %>
          Chèque Cadeau
          <% end %>

          <%= link_to new_voucher_path(category: 'Coffret Cadeau', step: 2), class:"button button-small-height button-margin-top"  do %>
          Coffret Cadeaux
          <% end %>

          <%= link_to new_voucher_path(category: 'Avoir', step: 2), class:"button button-small-height button-margin-top"  do %>
          Avoir
          <% end %>

          <div class="div-fixed-bottom flex-direct-row">
            <%= link_to root_path, class:"button button-small-height" do %>
            Retour
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <% when 2 %>
    <div class="container-buttons-list">
      <form>

        <input type="text" class="d-none" name="category" value="<%= params[:category] %>">
        <input type="text" class="d-none" name="step" value="<%= @step + 1 %>">

        <h3 class="title">Marque</h3>

        <select name="brand_id" id="brand-select" class="container-select">
          <option value=""></option>
          <% @brands.each do |brand| %>
            <option value="<%= brand.id %>"><%= brand.name %></option>
          <% end %>
        </select>

        <h3 class="title">Jusqu'au</h3>
        <div class="container-textbox">
          <div class="container-textbox-icon">
            <i class="fas fa-table"></i>
          </div>
          <input type="date" name="end_date", class="container-textbox-text">
        </div>
        <h3 class="title">Numéro de code barre</h3>
        <div class="container-textbox">
          <div class="container-textbox-icon">
            <i class="fas fa-barcode fa-barcode-small"></i>
          </div>
          <input type="text" name="bar_code" class="container-textbox-text">
        </div>
        <div class="div-fixed-bottom flex-direct-row">
          <%= link_to 'Précedent', new_voucher_path(step: 1), class:"button button-small-height-width" %>
          <input type="submit" value="Suivant" class="button button-small-height-width">
        </div>
      </form>
    </div>

  <% when 3 %>
    <%= simple_form_for [@voucher] do |f| %>
      <div class="container-price-value">
        <%= f.input :category, as: :hidden, input_html: { value: params[:category] } %>
        <%= f.input :brand, as: :hidden, input_html: {value: params[:brand_id]} %>
        <%= f.input :end_date, as: :hidden, input_html: { value: params[:end_date], id: 'end_date' } %>
        <%= f.input :bar_code, as: :hidden, input_html: { value: params[:bar_code] } %>
        <%= f.input :value, as: :integer, label: "Valeur du bon", :label_html => { :class => 'title' },
        :input_html => { :class => 'text-value container-textbox' } %>
        <p id="price-advice" clas"></p>
        <%= f.input :price, as: :integer, label: 'Prix à la vente', :label_html => { :class => 'title'},
        :input_html => { :class => 'container-textbox' } %>
      </div>

      <div class="div-fixed-bottom flex-direct-row">
        <%= link_to 'Précedent', new_voucher_path(step: 1), class:"button button-small-height-width" %>
        <%= f.submit 'Valider', class: "button button-small-height-width" %>
      </div>
    <% end %>

    <div id="voucher_count" data-vc="<%= @vc %>"></div>
  <% end %>

