
<div class="container-fluid">
  <div class="d-flex flex-column align-items-center mb-3">
    <%= render "shared/stepper", step: @step %>
  </div>
</div>

  <%
  case @step
  when 1 %>

    <div class="container-fluid form-container">
      <div class="d-flex flex-column align-items-center justify-content-between">
        <h3 class="title">Choisissez une catégorie</h3>

        <div class="text-center">
          <%= link_to new_voucher_path(category: 'Carte Cadeau', step: 2), class:"button button-small-height"  do %>
          Carte Cadeau
          <% end %>

          <%= link_to new_voucher_path(category: 'Chèque Cadeau', step: 2), class:"button button-small-height"  do %>
          Chèque Cadeau
          <% end %>

          <%= link_to new_voucher_path(category: 'Coffret Cadeau', step: 2), class:"button button-small-height"  do %>
          Coffret Cadeaux
          <% end %>

          <%= link_to new_voucher_path(category: 'Avoir', step: 2), class:"button button-small-height"  do %>
          Avoir
          <% end %>

          <div class="mt-3">
            <%= link_to root_path, class:"button button-small-height" do %>
            Retour
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <% when 2 %>

    <div class="container-fluid form-container">
      <form class="d-flex flex-column align-items-center">
        <!-- HIDDEN INPUT -->
        <input type="text" class="d-none" name="category" value="<%= params[:category] %>">
        <input type="text" class="d-none" name="step" value="<%= @step + 1 %>">

        <h3 class="title">Marque</h3>
        <div class="input-with-icon">
          <div class="icon-input"><i class="fas fa-shopping-cart icon"></i></div>
          <select name="brand_id" id="brand-select" class="input">
            <option value=""></option>
            <% @brands.each do |brand| %>
              <option value="<%= brand.id %>"><%= brand.name %></option>
            <% end %>
          </select>
        </div>

        <h3 class="title">Jusqu'au</h3>
        <div class="input-with-icon">
          <div class="icon-input"><i class="fas fa-table icon"></i></div>
          <input type="date" name="end_date" class="input">
        </div>


        <h3 class="title">Numéro de code barre</h3>
        <div class="input-with-icon">
          <div class="icon-input"><i class="fas fa-barcode icon"></i></div>
          <input type="text" name="bar_code" class="input">
        </div>
        <div class="d-flex mt-4">
          <%= link_to 'Précedent', new_voucher_path(step: 1), class:"button button-small-height-width" %>
          <input type="submit" value="Suivant" class="button button-small-height-width">
        </div>
      </form>
    </div>

  <% when 3 %>
    <%= simple_form_for [@voucher] do |f| %>
      <div class="container-fluid form-container">
        <div class="d-flex flex-column align-items-center voucher-form">

        <!-- HIDDEN INPUTS -->
          <%= f.input :category,  label: false,              input_html: { value: params[:category], class: "d-none mb-0" } %>
          <%= f.input :brand,     label: false,              input_html: { value: params[:brand_id], class: "d-none mb-0"}  %>
          <%= f.input :end_date,  label: false, as: :string, input_html: { value: params[:end_date], class: "d-none mb-0" } %>
          <%= f.input :bar_code,  label: false,              input_html: { value: params[:bar_code], class: "d-none mb-0" } %>


          <h3 class="title mb-3 mt-3">Valeur du bon</h3>
          <div class="input-with-icon">
            <div class="icon-input"><i class="fas fa-dollar-sign icon"></i></div>
            <input type="number" id="voucher_value" step="1" value="0,00" name="voucher[value]" class="input">
          </div>

          <p id="price-advice"></p>

          <h3 class="title mb-3 mt-3">Prix à la vente</h3>

          <div class="input-with-icon">
            <div class="icon-input"><i class="fas fa-dollar-sign icon"></i></div>
            <input type="number" id="voucher_price" step="1" value="0,00" name="voucher[price]" class="input">
          </div>

          <div class="d-flex mt-4 justify-content-center">
            <%= link_to 'Précedent', new_voucher_path(step: 1), class:"button button-small-height-width" %>
            <input type="submit" value="Valider" class="button button-small-height-width">
          </div>
        </div>
      </div>
    <% end %>

    <div id="voucher_count" data-vc="<%= @vc %>"></div>
  <% end %>

