<div class="container-recap">

  <h3 class="title">Récapitulatif</h3>
  <div class="voucher-publish-grid text-recap text-center">
    <div><i class="fas fa-shopping-cart text-ico"></i></div>
    <div><%= @voucher.brand.name %></div>
    <div><i class="fas fa-calendar-times text-ico"></i> </div>
    <div><%= @voucher.end_date %></div>
    <div><i class="fas fa-dollar-sign text-ico"></i> </div>
    <div><%= @voucher.price %> €</div>
    <div><%= image_tag("logo_smartbucks",size: "100x40" )%></div>
    <div>A remplacer</div>
  </div>
  <div class="container-button-recap">
    <%= link_to voucher_path(@voucher) do %>
    <div class="button button-small-height">Publier</div>
    <% end %>
      </div>
    <%= link_to "Modifier", edit_voucher_path(@voucher), class: "text-url-center" %>
</div>
