<h1>Vouchers#publish</h1>
<p>Find me in app/views/vouchers/publish.html.erb</p>

<h1>Récapitulatif</h1>

<p> Marque : <%= @voucher.brand.name %></p>
<p> Date d'expiration : <%= @voucher.end_date %> </p>
<p> Valeur du bon : <%= @voucher.price %> €</p>

  <%= link_to voucher_path(@voucher) do %>
    <div class="btn btn-primary">Publier</div>
  <% end %>

  <%= link_to edit_voucher_path(@voucher) do %>
    <div class="btn btn-primary">Modifier</div>
  <% end %>
