<div class="container-recap">

  <h3 class="title">Récapitulatif</h3>

  <p class="text-recap"> <%= @voucher.brand.name %></p>
  <p class="text-recap"> <%= @voucher.end_date %> </p>
  <p class="text-recap"> <%= @voucher.price %> €</p>

  <div class="container-button-recap">
    <%= link_to voucher_path(@voucher) do %>
    <div class="button button-small-height-width">Publier</div>
    <% end %>

    <%= link_to edit_voucher_path(@voucher) do %>
    <div class="button button-small-height-width">Modifier</div>
    <% end %>
  </div>
</div>
